<h1>Your order summary</h1>
{{>addons noDeleteBtn=true}}
<a href="/order/thanks" class="order-buttons"><img src="/assets/images/cart.png" alt="" class="cart-img">Finish my order</a>
{{> cookie-preview}}
{{> go-home}}
